.body{
    background-color:#212121;
}

#header{
    position: relative;
    width: 64%;
    left: 400px ;
    height: 60px;
    background-color:#212121;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    font-family: SF Pro Display Heavy font;
    border-radius: 10px;
}
#name_of{
    padding: 200px;
    position: absolute;
    font-size: 30px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    width: 34%;
   
}
#slogan_pic{
    position: absolute;
    left: 0px;
    width: 45px;
    height: 45px;
}
#title_pic{
    position: absolute;
    right: 0px;
    width: 45px;
    height: 45px;
}
#title{
    height: 90px;
    width: 250px;
}
#sidebar {
    position: fixed;
    top: 2px; 
    left: 2px;
    height: 100% ;
    width: 160px;
    background-color: #181818;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#side_text{
    position: relative;
    color: white; 
    top: 40px; 
    left: 20px;
    background-color: #181818;
}
#side_button{
    background-color: #181818;
    border-width: 0px;
    border-color: #181818;    
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
#top_pic{
    position: absolute;
    margin-bottom: 50px;
    top: 10px;
    width: 120px;
    height: 120px;
    padding-left: 10px;
}

#side_pic{
    position: absolute;
    margin-bottom: 50px;
    bottom: 0px;
    width: 120px;
    height: 150px;
    padding-left: 10px;
}
.show{
    position: fixed;
    top: 70px; 
    width: 100%;
    left: 202px;
    border-radius: 10px;
    background-color:#212121 ;
    overflow-y: auto;
    bottom: 20px;
    
    
}
.initial_display{
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 20px;
  margin-left: 10px;
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 18px;
  background-color:#343541;
  outline: none;
  overflow-y: auto;
  color: white;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.reply{
  margin-bottom: 10px;
  border-radius: 20px;
  right: 10px;
  margin-left: 480px;  
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 18px;
  background-color:#343541;
  outline: none;
  overflow-y: auto;
  color: white;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
#line{
  border: none;
  height: 2px;
  background-color: white; 
}
#input_box{
 position: absolute ;
 bottom: 10px;
 border-radius: 20px;
 left: 40px;
 width: 90%;
 height: 80px;    
 font-size: 20px;
 background-color: #343541;
 border-width: 0px;
 border-color: #384134;
 color: white;
}
#input_box:focus {
  outline: none;         
  box-shadow: none;      
  border: none;          
}
/* #arrow{
 position: absolute;
    right: 20px;
    top: 30px;
    width: 40px;
    height: 40px;   
} */
button[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 40px;
    cursor: pointer;
    position: absolute; 
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
}

#input_taken {
  position: absolute;
  border-radius: 20px;
  left: 140px;
  width: 60%;
  height: 60px;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 18px;
  background-color:#343541;
  outline: none;
}
